<html>
    <head>
        <title>Welcome to the Breakfast App</title>
        <p> Breakfast is the most important meal of the day... Great thing you don't have to think about it, just ask and get your recommendation </p>
        <!-- <style>
            body {
              background-image: url("../image.jpg");
              background-size: cover;
              background-repeat: no-repeat;
            }
          </style>  -->
    </head>
    <body>
        <h1>Welcome to the breakfast App</h1>
        <p>Welcome, user!</p>
        <p><a href="/breakfast">Get Breakfast Menu</a></p>
    </body>
</html>
