<html>

<head>
  <title>Welcome to the Breakfast App</title>
  <style>
    .button {
      background-color: blue;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
  <!-- <style>
            body {
              background-image: url("../image.jpg");
              background-size: cover;
              background-repeat: no-repeat;
            }
          </style>  -->
</head>

<body>
  <h1>Welcome to the breakfast App</h1>
  <p> Breakfast is the most important meal of the day... Great thing you don't have to think about it, just ask and get
    your recommendation </p>
  <p>Welcome, user!</p>
  <p><a href="/breakfast" class="button">Get Breakfast Menu</a></p>
</body>

</html>